body{
  font-size: 20px;
  background-image: linear-gradient(90deg,white,#85CCDD);
  text-align: center;
  font-style: italic;
  font-family:sans-serif;
}

img {
  max-width: 100%;
}

.text {
  display: inline-block;
  height: 200px;
  width: 200px;
  position: relative;
  color: white;
  text-shadow: 1px 1px 5px #000;
  font-style: normal;
  font-family:sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
}


.container{
  max-width: 100px;
  margin-left: .25;
}

.writing.1poe {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
